$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1320px,
  xl: 1800px,
  xxl: 1920px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1400px,
  xl: 1820px,
  xxl: 2080px
);

$font-size-base: .925rem;

.ranker-image {
  border-radius: 1.25rem;
}


@import "../../node_modules/bootstrap/scss/bootstrap";

@include media-breakpoint-up(md) {
  .ranker-image {
    border-radius: .75rem;
  }
}

.bg-purple {
  background-color: $purple;
}