@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

$font-size-base: 0.925rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1320px,
  xl: 1800px,
  xxl: 1920px,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1400px,
  xl: 1820px,
  xxl: 2080px,
);

@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "margin-start": null,
  )
);

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/utilities/api";

.ranker-image {
  border-radius: 1.25rem;
}

@include media-breakpoint-up(md) {
  .ranker-image {
    border-radius: 0.75rem;
  }
}

.bg-purple {
  background-color: $purple;
}

.bg-yellow-300 {
  background-color: $yellow-300;
}

.text-purple {
  color: $purple;
}
